<h2>Créer un compte</h2>
<p>Bienvenue sur This is CBD, votre compagnon CBD.</p>
<p>
  Si vous n'avez pas encore de compte vous pouvez vous inscrire avec uniquement
  votre email.
</p>
<p>(il ne sera pas utiliser à des fins de prospections)</p>
<form [formGroup]="form">
  <div
    fxFlexAlign.gt-xs="column"
    fxLayoutGap="24px"
    fxLayoutGap.sm="12px"
    fxLayoutGap.xs="8px"
  >
    <mat-form-field>
      <mat-label>Adresse e-mail</mat-label>
      <input
        matInput
        [placeholder]="'Adresse e-mail'"
        formControlName="email"
        required
      />
      <mat-error *ngIf="form.get('email').errors && form.get('email').touched"
        >Votre email n'est pas valide</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <mat-label>Mot de passe</mat-label>
      <input
        matInput
        placeholder="Password"
        [type]="hide ? 'password' : 'text'"
        formControlName="password"
        required
      />
      <mat-error
        *ngIf="form.get('password').errors && form.get('password').touched"
        >Votre mot de passe doit comporter au moins 6 caractères</mat-error
      >
      <mat-icon matSuffix class="icon-selector" (click)="hide = !hide">{{
        hide ? "visibility_off" : "visibility"
      }}</mat-icon>
    </mat-form-field>
    <mat-card *ngIf="!authenticateSucceed" style="background-color: #ff8d79">
      <p>Votre authentification a échoué</p>
    </mat-card>
    <mat-card *ngIf="emailAlreadyUse" style="background-color: #ff8d79">
      Cette adresse e-mail est déjà utilisé, veuillez vous inscrire avec une
      nouvelle adresse.
    </mat-card>
  </div>
  <div class="shop-align-right">
    <button
      type="submit"
      style="margin-top: 20px"
      mat-raised-button
      color="accent"
      (click)="save()"
      [disabled]="form.invalid || form.disabled"
    >
      S'inscrire
    </button>
  </div>
</form>
