.product-image{
  width: 70% ;
  height: auto;
  border: 1px solid #598e5d;
}

.stock-available{
  color: #88bf8a;
}
.stock-unavailable{
  color: red;
}

.custom-line{
  background-color: #598e5d;
  height:1px;
  width: 50%;
}
