<mat-card
  ><div fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">
    <div fxFlex="50">
      <img
        class="product-image"
        [src]="product?.imagePath"
        alt="Ceci est l'image du produit"
      />
    </div>
    <div fxLayout="column" fxFlex="50">
      <div>
        <h2>{{ product?.name }}</h2>
        <div class="custom-line"></div>
      </div>
      <div *ngIf="product?.stock?.quantity > 1">
        <p class="stock-available">Il y'a du stock pour ce produit</p>
      </div>
      <div *ngIf="product?.stock?.quantity < 1">
        <p class="stock-unavailable">Rupture de stock pour ce produit</p>
      </div>
      <div>
        <span>{{ product?.title }}</span>
      </div>
      <div style="margin-top: 19px">
        <span>Taux de CBD: {{ product?.cbdRate }}%</span>
      </div>
      <div>
        <p>Taux de THC: {{ product?.thcRate }}%</p>
      </div>
      <div [formGroup]="form">
        <div
          *ngIf="
            product?.categories === Categories.RESINE ||
            product?.categories === Categories.FLOWER
          "
        >
          <mat-form-field
            class="app-margin-tp-8"
            appearance="fill"
            style="width: 37%"
          >
            <mat-label>Nombre de gramme</mat-label>
            <mat-select
              disableRipple
              formControlName="grammeQuantity"
              [value]="1"
            >
              <mat-option *ngIf="product?.price?.basePrice" [value]="1">
                1 gramme {{ product?.price?.basePrice }}€ ({{
                  product?.price?.basePrice
                }}€/g)
              </mat-option>
              <mat-option
                *ngIf="product?.price?.priceForThreeGramme"
                [value]="3"
              >
                3 grammes {{ product?.price?.priceForThreeGramme }}€ ({{
                  priceForThree
                }}€/g)
              </mat-option>
              <mat-option
                *ngIf="product?.price?.priceForFiveGramme"
                [value]="5"
              >
                5 grammes {{ product?.price?.priceForFiveGramme }}€ ({{
                  priceForFive
                }}€/g)
              </mat-option>
              <mat-option
                *ngIf="product?.price?.priceForTenGramme"
                [value]="10"
              >
                10 grammes {{ product?.price?.priceForTenGramme }}€ ({{
                  priceForTen
                }}€/g)
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="quantity-custom">
          <mat-input-counter
            class="quantity-custom"
            formControlName="inputCounter"
            [_value]="1"
            [min]="1"
            [max]="100"
            [step]="1"
            [label]="'Quantité'"
            [placeholder]="'Quantité'"
          >
          </mat-input-counter>
        </div>
      </div>
      <div class="app-margin-tp-8">
        <app-add-to-cart
          [positionButton]="'right'"
          [product]="product"
          [form]="form"
          (productAdded)="displayModalAddProduct($event)"
        ></app-add-to-cart>
      </div>
      <p *ngIf="setGrammeQuantity">
        Vous devez sélectionner un nombre de gramme
      </p>
    </div>
  </div>
</mat-card>
