.card-order {
  background-color: #88bf8a;
}
.field {
  width: 87%;
}
.button-field {
  margin-left: 8.17px;
}
.card-error {
  background-color: #ff8d79;
}
.card-container {
  min-width: 300px;
}
.total {
  color: #598e5d;
  font-size: 1.3em;
  font-weight: bold;
  font-family: Avenir;
}

.line {
  height: 1px;
  background-color: #bae2c2;
  width: 100%;
}
