@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$primary: (
500: #598e5d,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: $black-87-opacity,
    A200: $black-87-opacity,
    A400: $black-87-opacity,
    A700: $black-87-opacity
  )
);
$accent: (
  500: #88bf8a,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: $black-87-opacity,
    A200: $black-87-opacity,
    A400: $black-87-opacity,
    A700: $black-87-opacity
  )
);
$warn: (
  500: #f3fff3,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: $black-87-opacity,
    A200: $black-87-opacity,
    A400: $black-87-opacity,
    A700: $black-87-opacity
  )
);
$shop-app-primary: mat-palette($primary);
$shop-app-accent:  mat-palette($accent);

// The warn palette is optional (defaults to red).
$shop-app-warn:    mat-palette($warn);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as `color` or `typography`.
$shop-app-theme: mat-light-theme((
  color: (
    primary: $shop-app-primary,
    accent: $shop-app-accent,
    warn: $shop-app-warn,
  )
));

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 16px;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.shop-uppercase {
  text-transform: uppercase;
}
.shop-capitalize {
  text-transform: capitalize;
}
.shop-font-thin {
  font-weight: 300;
}
.shop-align-center {
  text-align: center !important;
}
.shop-align-right {
  text-align: right !important;
}
.shop-align-left {
  text-align: left !important;
}
.shop-bold {
  font-weight: bold;
}
.shop-cursor-pointer {
  cursor: pointer;
}
.shop-cursor-default {
  cursor: default;
}
.shop-margin-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}
.shop-full-width {
  width: 100%;
}
.shop-full-height {
  min-height: 100%;
}
.shop-float-right {
  float: right;
}
.shop-no-border {
  border: none;
}
.shop-no-display {
  display: none !important;
}

// Here we set the global css for all the cart component to avoid any conflict with the library
.add-to-cart {
  .add-to-cart-button {
    background-color: red;
  }
}

.cart-summary{
  display: flex;
  margin-top: 2px;
  .cart-summary-icon{
    margin-top: 2px;
    fill: #f3fff3;

  }
  .cart-summary-contents{
    font-size: 16px;
  }
}

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($shop-app-theme);

//$shop-colors: (
//  'primary': map-get($shop-app-primary, 500)
//);
//
//@function get-color($key) {
//  @return map-get($shop-colors, $key);
//}
