.icon-selector {
  cursor: pointer;
  color: #88bf8a;
}
::ng-deep .cdk-text-field-autofill-monitored {
  border: 0 !important;
}
.button-transporter {
  margin-top: 25px;
}

.title {
  font-weight: 500;
  font-size: 1.1em;
  font-family: avenir;
}
.card-error {
  background-color: #ff8d79;
}

.card-valid {
  background-color: #88bf8a;
  margin-bottom: 12px;
  margin-top: 6px;
}
