<div *ngIf="promotion" class="toolbar">
  <span
    >Profiter de {{ promotion.promotionReduction }}% de réduction sur tout le
    site avec le code
    <span class="code">"{{ promotion.codePromotion }}"</span></span
  >
</div>
<div fxLayout="row">
  <div fxFlex="90" class="app-margin-lt-6">
    <img
      fxHide.gt-sm
      class="logo-site"
      src="../../../assets/logo.jpg"
      alt="logo du site"
    />
  </div>
  <div
    fxFlex="10"
    fxShow="true"
    fxHide.gt-sm
    fxFlex.gt-sm="5"
    fxFlex.lt-sm="20"
    class="app-margin-tp-6"
  >
    <div class="bloc-button-custom">
      <button
        mat-mini-fab
        class="button-custom"
        aria-label="Inscription"
        [matMenuTriggerFor]="menu"
      >
        <mat-icon color="warn" class="icon-identity">perm_identity</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item *ngIf="isConnected">Mon compte</button>
        <button mat-menu-item *ngIf="!isConnected" (click)="onRegisterModal()">
          S'inscrire
        </button>
        <button mat-menu-item *ngIf="!isConnected" (click)="onConnectModal()">
          Se connecter
        </button>
        <button mat-menu-item *ngIf="isConnected" (click)="logout()">
          Se déconnecter
        </button>
      </mat-menu>
    </div>
  </div>
</div>
<div class="size-toolbar" style="height: 100%">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <div fxFlex="30">
        <button
          mat-icon-button
          (click)="sidenav.toggle()"
          fxShow="true"
          fxHide.gt-sm
        >
          <mat-icon>menu</mat-icon>
        </button>
        <div>
          <a [routerLink]="['/']">
            <img
              fxHide.lt-md
              class="logo-site"
              src="../../../assets/logo.jpg"
              alt="logo du site"
            />
          </a>
        </div>
      </div>
      <div fxFlex="50">
        <div fxShow="true" fxHide.lt-md>
          <a [routerLink]="['product/flower']" mat-button>Fleurs CBD</a>
          <a [routerLink]="['/product/hash']" mat-button>Résines CBD</a>
          <a [routerLink]="['/moon-rocks']" mat-button>Moon Rocks CBD</a>
          <a [routerLink]="['/product/e-liquides']" mat-button
            >E-liquides CBD</a
          >
        </div>
      </div>
      <div fxShow="true" fxHide.lt-md fxFlex.gt-sm="5" fxFlex.lt-sm="20">
        <div class="bloc-button-custom">
          <button
            mat-mini-fab
            class="button-custom"
            aria-label="Inscription"
            [matMenuTriggerFor]="menu"
          >
            <mat-icon color="warn" class="icon-identity"
              >perm_identity</mat-icon
            >
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item *ngIf="isConnected">Mon compte</button>
            <button
              mat-menu-item
              *ngIf="!isConnected"
              (click)="onRegisterModal()"
            >
              S'inscrire
            </button>
            <button
              mat-menu-item
              *ngIf="!isConnected"
              (click)="onConnectModal()"
            >
              Se connecter
            </button>
            <button mat-menu-item *ngIf="isConnected" (click)="logout()">
              Se déconnecter
            </button>
          </mat-menu>
        </div>
      </div>
      <div fxFlex.gt-sm="10" fxFlex.lt-sm="50">
        <app-cart-summary></app-cart-summary>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a (click)="sidenav.toggle()" mat-list-item>Fermer</a>
        <a [routerLink]="['/fleurs']" mat-list-item>Fleurs CBD</a>
        <a [routerLink]="['/resines']" mat-list-item>Résines CBD</a>
        <a [routerLink]="['/moon-rocks']" mat-list-item>Moon Rocks CBD</a>
        <a [routerLink]="['/oil']" mat-list-item>Huiles CBD</a>
        <div mat-list-item>
          <button
            mat-mini-fab
            class="button-custom"
            aria-label="Inscription"
            [matMenuTriggerFor]="menu"
          >
            <mat-icon color="warn" class="icon-identity"
              >perm_identity</mat-icon
            >
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item *ngIf="isConnected">Mon compte</button>
            <button
              mat-menu-item
              *ngIf="!isConnected"
              (click)="onRegisterModal()"
            >
              S'inscrire
            </button>
            <button
              mat-menu-item
              *ngIf="!isConnected"
              (click)="onConnectModal()"
            >
              Se connecter
            </button>
            <button mat-menu-item *ngIf="isConnected" (click)="logout()">
              Se déconnecter
            </button>
          </mat-menu>
        </div>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="main-content">
      <app-breadcrumb fxHide.lt-sm></app-breadcrumb>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
