<div>
  <form [formGroup]="form">
    <mat-form-field appearance="fill">
      <mat-label>Trier par</mat-label>
      <mat-select disableRipple color="primary" formControlName="sortBy">
        <mat-option [value]="1">Du - cher au + cher</mat-option>
        <mat-option [value]="2">Du + cher au - cher</mat-option>
        <mat-option [value]="3">Du taux de cbd le + au - élevé</mat-option>
        <mat-option [value]="4">Du taux de cbd le - au + élevé</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>
