<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>
</head>
<body style="font-family: Avenir">
<h2>Hello {{surname}}!</h2>

<p>Ça y est, c’est officiel : vous faites partie de la communauté des ‘cbd lovers’.
</p>

<p>Vous avez désormais accès au produit de nos différents partenaires triées sur le volet.</p>
<p>Si vous désirez rendre ça tout à fait officiel, il n'y plus qu'à...</p>

<p>Greg</p>
<p>Responsable de la détente client</p>
</body>
</html>
