<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>
</head>
<body style="font-family: Avenir">
<h2>Hello {{surname}}!</h2>

<p>Vous avez oublié votre mot de passe?
</p>

<p>Pas de souci on vous envoit un mot de passe de remplacement.</p>
<p>{{password}}</p>
<p>Si vous souhaitez vous pourrez le changer dans votre compte</p>

<p>Bonne journée et bonne tisane &#128518;</p>
<p>Greg</p>
<p>Responsable de la détente client</p>
</body>
</html>
