<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>
</head>
<body>
<h1>Hello {{surname}}!</h1>

<p>Ça y est, c’est officiel : vous faites partie de la communauté des ‘cbd lovers’. C’est à dire des gens qui aiment la technologie autant qu’ils se préoccupent de l’état de la planète.
</p>

<p>Vous avez désormais accès au produit de nos différents partenaires triées sur le volet.</p>
<p>Si vous désirez rendre ça tout à fait officiel, il n'y plus qu'à...</p>

<p>Greg</p>
<p>responsable de la détente client</p>
</body>
</html>
