<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>
</head>
<body style="font-family: Avenir">
<h2>Hello {{surname}}!</h2>

<p>Ça y est, c’est officiel : vous allez tester les produits de nos partenaires triés sur le volet.
</p>

<p>Vous trouverez en pièce jointe votre facture.</p>
<p>Pour suivre votre commande rendez vous sur votre profil dans l'onglet mon compte</p>
<p>Bonne tisane  &#128518;</p>

<p>Greg</p>
<p>Responsable de la détente client</p>
</body>
</html>
