.breadcrumb {
  font-size: 1.1em;
  font-family: "Arial Hebrew";
  a,
  a:hover,
  span:hover {
    color: #598e5d;
    text-decoration: none;
    cursor: pointer;
    margin-left: 1px;
  }
  li {
    list-style: none;
  }
  li::after {
    content: "->";
    font-size: 1.1em;
    font-weight: bold;
    color: #598e5d;
  }
  li:last-child::after {
    content: "";
  }
  span {
    text-decoration: underline !important;
  }
  li:last-child span {
    text-decoration: none !important;
    margin-left: 4px;
  }
}
